*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background: url(img/bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 1700px;
    margin: 0 auto;
    align-items: center; 
    position: relative;
    height:100vh;
}

.header{
    width: 100%;
    position:fixed;;
    height: 80px;  
    display: flex;
    justify-content: left;
    align-items: center; 
}
.header h1{
    margin-left: 75px;
}
.navbar{

    display: flex;
    justify-content: left;
    margin-left:5px ;
}
.navbar a{
    font-size: 25px;
    text-decoration: none;
    margin-left: 195px;
        
}
.con{
    height: 700px;
    position: relative;
    top: 290px;
}
.info{
    position: relative;
    top: 50px;
    width: 680px;
    left: 80px;
   
}
.info h1{
    font-size: 100px;
    letter-spacing: 1.5px;
}
.paragraph p{
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.paragraph{
    position: relative;
    bottom: 50px;
    width: 700px;
}
.image{
    position: relative;
    height: 700px;
    width: 800px;
    bottom: 470px;
    left: 710px;
}
.image img{
    width: 1030px;
    height: 700px;
}

.button{
    position: relative;
    bottom: 98%;
    left: 80px;
    
}

.button button{
    color: rgb(41, 3, 71);
    width: 240px;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-style: none;
    height: 50px;
}